# DERET

In [1]:
print("3,7,11,15,….,Un")

3,7,11,15,….,Un

In [2]:
def Un(a,n,b):
    value = a+((n-1)*b)
    return value

In [8]:
def Sn(a,n,b):
    total = (n/2)*(a+Un(a,n,b))
    return total

In [11]:
#berapa nilai suku ke n dari n=10
Un(3,105,4)

419

In [12]:
#Berapa jumlah total suku ke n (n=10)
Sn(3,105,4)

22155.0